/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  /*===== Colors =====*/
  --soft-white: #fbfaf5;
  --soft-black: #181a18;
  --white: #ffffff;
  --black: #0a0a0a;
  --theme-dark: #1c1d20;
  --theme-blue: #f4f6f7;
  --theme-yellow: #ffcc00;
  /* --light-white: #1c1d20; */
  --light-green: #f1faf1;
  --light-blue: #bebae8;
  --light-pink: #f9b5cd;
  --text-grey: #444950;
  --light-grey: #ebebeb;
  --success: #13ae8f;
  --error: #ff3333;

  /*===== Font and typography =====*/
  --pri-font: "Outfit", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --fs-6: 6rem;
  --fs-5-5: 5.5rem;
  --fs-5: 5rem;
  --fs-4-5: 4.5rem;
  --fs-4: 4rem;
  --fs-3-5: 3.5rem;
  --fs-3: 3rem;
  --fs-2-5: 2.5rem;
  --fs-2: 2rem;
  --fs-1-5: 1.5rem;
  --fs-1: 1rem;
  --fs-0-95: 0.95rem;
  --fs-0-85: 0.85rem;
  --fs-0-75: 0.75rem;
  --fs-0-65: 0.65rem;
  --fs-0-5: 0.5rem;
  --fs-0-25: 0.275rem;
  --fs-0-2: 0.2rem;
  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*===== Margenes Bottom =====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3rem;
  --mb-4: 4rem;
  --mb-4-5: 4.5rem;
  --mb-5: 5rem;
  --mb-5-5: 5.5rem;
  --mb-6: 6rem;
  --mb-6-5: 6.5rem;
  --mb-7: 7rem;
  --mb-7-5: 7.5rem;
  --mb-8: 8rem;
}

/* ==================== [LOGISTICS | TELECOMS] ==================== */
.lt {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----===== SIDEBAR SECTION =====----- */
.sidebar {
  flex: 0 0 15%;
  height: 100%;
  justify-content: flex-start;
  row-gap: var(--mb-4);
  padding: var(--mb-2);
  background-color: var(--theme-yellow);
  position: relative;
  z-index: 15;
}

.sidebar-logo {
  width: 100%;
  padding: 0 var(--mb-1);
  /* border: 1px tomato solid; */
}

.sidebar-logo h1 {
  font-size: 1.2rem;
  text-align: left;
  color: var(--soft-black);
  line-height: 1.3;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.sidebar-logo h1 span {
  font-weight: 600;
}

.sidebar-nav {
  width: 100%;
  row-gap: var(--mb-0-5);
  justify-content: flex-start;
}

.sn {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--mb-0-5);
  font-size: 0.925rem;
  color: var(--text-grey);
  text-align: left;
  padding: var(--mb-0-5) var(--mb-1);
  transition: all 0.3s ease;
  cursor: pointer;
  /* border: 1px dodgerblue solid; */
}

.sn span {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--soft-black);
}

.sn:hover {
  background-color: var(--soft-white);
}

.sn.active {
  background-color: var(--soft-black);
  color: var(--soft-white);
}
.sn.active span {
  color: var(--soft-white);
}

.sidebar-logout {
  position: absolute;
  bottom: var(--mb-2);
  left: var(--mb-2);
  right: var(--mb-2);
  justify-content: flex-start;
  column-gap: var(--mb-0-5);
  border-radius: 10px;
  padding: var(--mb-0-5) var(--mb-1);
  transition: all 0.3s ease;
  cursor: pointer;
  /* border: 1px tomato solid; */
}

.sidebar-logout span {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--soft-black);
  margin-bottom: 0.1rem;
}

.sidebar-logout p {
  font-size: 0.95rem;
  color: var(--text-grey);
  text-align: left;
  font-weight: 500;
}

.sidebar-logout:hover {
  background-color: #eee;
}

/* .sidebar-logout:active {
  background-color: var(--soft-black);
  color: var(--soft-white);
} */

/* -----===== DASHBOARD =====----- */
.dashboard {
  flex: 0 0 84%;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  /* border: 1px tomato solid; */
}

/* ------- HEADER SECTION ------- */
.header {
  width: 100%;
  padding: var(--mb-2);
  justify-content: space-between;
  /* border: 1px limegreen solid; */
  z-index: 10;
}

.header-title {
  flex: 0 0 auto;
  align-items: flex-start;
  row-gap: var(--mb-0-5);
}

.header-title h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--soft-black);
  text-align: left;
  line-height: 1;
}

.header-title p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-grey);
  text-align: left;
  line-height: 1;
  opacity: 0.8;
}

.nav {
  flex: 0 0 auto;
  column-gap: var(--mb-1-5);
}

.nav-notif {
  flex: 0 0 auto;
  position: relative;
  /* border: 1px teal solid; */
  transition: all 0.3s ease;
  cursor: pointer;
}

#nn-bell {
  font-size: 1.1rem;
  line-height: 1;
  border: 1px #ddd solid;
  padding: var(--mb-0-5);
  border-radius: 50%;
}

#nn-bell-new {
  position: absolute;
  top: 0.2rem;
  right: 0rem;
  width: 8px;
  height: 8px;
  /* background-color: tomato; */
  border-radius: 50%;
}

.nav-notif:hover #nn-bell {
  background-color: var(--soft-black);
  border: 1px var(--soft-black) solid;
  color: var(--soft-white);
}

.nn-drop {
  position: absolute;
  top: 45px;
  left: 0;
  width: 120px;
  padding: var(--mb-0-75);
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  animation: fade 0.5s ease-in-out;
  display: none;
  /* border: 1px red solid; */
}

.nn-drop p {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  padding: var(--mb-0-5);
  color: var(--text-grey);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.nn-drop p:hover {
  background-color: var(--soft-white);
}

.nav-notif:hover .nn-drop {
  display: flex;
}

.nav-profile {
  flex: 0 0 auto;
  /* border: 1px teal solid; */
  column-gap: var(--mb-0-75);
  padding-left: var(--mb-1-5);
  border-left: 1px #ddd solid;
}

.nav-profile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  /* border: 1px dodgerblue solid; */
}

.nav-profile p {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: var(--mb-0-25);
}

.nav-profile p span {
  text-align: left;
  color: var(--soft-black);
  font-size: 0.98rem;
  font-weight: 500;
  line-height: 1.1;
}

.nav-profile p span:last-child {
  font-weight: 400;
  color: var(--text-grey);
  font-size: 0.75rem;
  opacity: 0.8;
}

/* ------- LT CONTAINERS SECTION ------- */
.lt-containers {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  /* border: 1px hotpink solid; */
  padding: 0 var(--mb-2);
  align-items: flex-start;
}

.ltc {
  width: 100%;
  height: 100%;
  /* border: 1px tan solid; */
  animation: fade 0.5s ease-in-out;
  display: none;
  /* background-color: var(--soft-white); */
}

.ltc.active {
  display: flex;
}

/* DASHBOARD CONTAINER */
.db {
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: var(--mb-2-5);
  /* border: 2px hotpink solid; */
}

/* LTC STATS */
.stats {
  flex: 0 0 100%;
  width: 100%;
  /* border: 1px dodgerblue solid; */
  justify-content: space-between;
  overflow: hidden;
  padding: 0.15rem;
}

.s-card {
  flex: 0 0 23%;
  background-color: var(--white);
  border-radius: 15px;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: var(--mb-1-5);
  padding: var(--mb-1-5);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.s-card span {
  position: absolute;
  top: var(--mb-1-5);
  right: var(--mb-1);
  color: var(--text-grey);
  font-size: 1.2rem;
  font-weight: 600;
}

.s-card h4 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color: var(--soft-black);
  line-height: 1;
}

.s-card p {
  font-size: 0.88rem;
  text-align: left;
  color: var(--text-grey);
  font-weight: 500;
}

.s-card:first-child {
  background-color: #ffd7ca;
}

.s-card:first-child span {
  color: #f0573c;
}

.s-card:nth-child(2) {
  background-color: #daf4ec;
}

.s-card:nth-child(2) span {
  color: #18a87c;
}

.s-card:nth-child(3) {
  background-color: #e1e6f8;
}

.s-card:nth-child(3) span {
  color: #3454d1;
}

.s-card:last-child {
  background-color: #fff9e6;
}

.s-card:last-child span {
  color: #ffc70b;
}

.s-card:hover {
  background-color: var(--soft-black);
}

.s-card:hover h4 {
  color: var(--soft-white);
}

.s-card:hover p {
  color: var(--light-grey);
}

/* LTC QUERIES */
.ltc-queries {
  flex: 0 0 58%;
  width: 50%;
  height: 100%;
  /* border: 1px limegreen solid; */
  justify-content: flex-start;
  row-gap: var(--mb-1);
  overflow: hidden;
}

.q-header {
  width: 100%;
  justify-content: space-between;
  /* border: 1px tomato solid; */
}

.q-header h4 {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 500;
  color: var(--soft-black);
}

.qh-options {
  flex: 0 0 auto;
  justify-content: flex-end;
  column-gap: var(--mb-1);
  /* border: 1px teal solid; */
}

.qho-search,
.qho-filter {
  flex: 0 0 auto;
  column-gap: var(--mb-0-25);
  cursor: pointer;
  transition: all 0.3s ease;
  /* border: 1px powderblue solid; */
}

.qho-search {
  column-gap: var(--mb-0-5);
}

.qho-filter {
  position: relative;
  padding: 0 var(--mb-1);
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
}

.qho-search i,
.qho-filter i {
  font-size: 1rem;
}

.qho-search i {
  margin-top: 0.3rem;
}

.qhos-input {
  width: 100px;
  background-color: var(--white);
  border: none;
  outline: none;
  text-align: left;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  color: var(--text-grey);
  border-bottom: 1px #ddd solid;
}

.qho-search button {
  padding: 0;
  background-color: var(--white);
  font-size: 0.9rem;
  color: var(--text-grey);
  font-weight: 400;
  line-height: 1;
}

.qho-filter p {
  font-size: 0.9rem;
  color: var(--text-grey);
  font-weight: 400;
  line-height: 1;
}

.qhof-drop {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100px;
  padding: var(--mb-0-5);
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  animation: fade 0.5s ease-in-out;
  z-index: 5;
  display: none;
}

.qhof-drop p {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  padding: var(--mb-0-5);
  color: var(--text-grey);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.qhof-drop p:hover {
  background-color: var(--soft-white);
}

.qho-filter:hover .qhof-drop {
  display: flex;
}

.qho-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-grey);
  font-weight: 400;
  line-height: 1;
}

.qho-btn:hover {
  text-decoration: underline;
}

.q-table {
  width: 100%;
  justify-content: flex-start;
  border-top: none;
  overflow: hidden;
}

.qt-tab {
  width: 100%;
  justify-content: space-between;
  /* border: 1px #ddd solid; */
  border-radius: 5px;
}

.qt-tab p {
  flex: 0 0 24.5%;
  text-align: left;
  color: var(--text-grey);
  opacity: 0.9;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  padding-left: var(--mb-1);
  line-height: 2;
  background-color: var(--theme-blue);
}

.qt-tab p:first-child {
  border-top-left-radius: 4px;
  /* border-bottom-left-radius: 4px; */
}

.qt-tab p:last-child {
  border-top-right-radius: 4px;
  /* border-bottom-right-radius: 4px; */
}

.qt-list {
  width: 100%;
  height: 68%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  border: 1px var(--theme-blue) solid;
  border-top: none;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.qt-list::-webkit-scrollbar {
  display: none;
}

.qtl {
  width: 100%;
  justify-content: space-between;
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.qtl:hover {
  background-color: var(--theme-blue);
}

.qtl p {
  flex: 0 0 24.5%;
  text-align: left;
  color: var(--soft-black);
  font-size: 0.85rem;
  padding: var(--mb-0-5) 0;
  padding-left: var(--mb-0-5);
}

.qtl:first-child {
  margin-top: var(--mb-0-5);
}

/* LTC STATUS */
.ltc-status {
  flex: 0 0 38%;
  height: 62.5%;
  /* border: 1px thistle solid; */
  row-gap: var(--mb-1-5);
  justify-content: flex-start;
  overflow: hidden;
}

.ltc-current {
  width: 100%;
  height: 50%;
  padding: 0;
  /* border: 1px tomato solid; */
  justify-content: flex-start;
  row-gap: var(--mb-0-5);
  overflow: hidden;
  display: none;
}

.current-title {
  width: 100%;
  justify-content: space-between;
}

.ltc-current h4 {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 500;
  color: var(--soft-black);
}

.current-title button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-grey);
  font-weight: 400;
  line-height: 1;
}

.current-title button:hover {
  text-decoration: underline;
}

.current-card {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  /* border: 1px tomato solid; */
  row-gap: var(--mb-1);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.current-card::-webkit-scrollbar {
  display: none;
}

.c-card {
  width: 100%;
  background-color: var(--theme-blue);
  border-radius: 15px;
  padding: 1.25rem;
  row-gap: var(--mb-0-75);
  transition: all 0.5s ease;
  cursor: pointer;
}

.ccd-title {
  width: 100%;
  align-items: flex-start;
  row-gap: var(--mb-0-25);
}

.ccd-title p {
  font-size: 0.7rem;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-grey);
  opacity: 0.9;
  line-height: 1;
}

.ccd-title h5 {
  font-size: 0.95rem;
  text-align: left;
  font-weight: 500;
  color: var(--soft-black);
  line-height: 1;
}

.ccd-note {
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  /* animation: fade 0.5s ease-in-out; */
  display: none;
}

.ccd-note p {
  font-size: 0.85rem;
  text-align: left;
  color: var(--text-grey);
  opacity: 0.98;
  line-height: 1.3;
}

.ccd-info {
  width: 100%;
  justify-content: flex-start;
  position: relative;
  column-gap: var(--mb-0-75);
  margin-top: var(--mb-0-5);
}

.query-priority {
  font-size: 0.75rem;
  padding: var(--mb-0-25);
  line-height: 1;
  text-align: center;
  border-radius: 4px;
}

.runner-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--text-grey);
}

.high-priority {
  background-color: #ffd7ca;
  color: #f0573c;
}

.medium-priority {
  background-color: #fff9e6;
  color: #ffc70b;
}

.low-priority {
  background-color: #daf4ec;
  color: #18a87c;
}

.ccd-info p {
  font-size: 0.8rem;
  text-align: left;
  color: var(--text-grey);
  line-height: 1;
  opacity: 0.9;
}

#expand-card {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-grey);
  opacity: 0.9;
  transition: all 0.3s ease;
}

.c-card:hover .ccd-note {
  display: flex;
}

.c-card:hover {
  background-color: var(--soft-black);
}

.c-card:hover .ccd-title p,
.c-card:hover .ccd-title h5 {
  color: var(--soft-white);
}

.c-card:hover .ccd-note p {
  color: var(--light-grey);
}

.c-card:hover .ccd-info p {
  color: var(--light-grey);
}

.c-card:hover #expand-card {
  color: var(--soft-white);
  rotate: 180deg;
}

.ltc-runners {
  width: 100%;
  height: 100%;
  padding: 0;
  /* border: 1px tomato solid; */
  justify-content: flex-start;
  row-gap: var(--mb-1);
  overflow: hidden;
}

.runners-title {
  width: 100%;
  justify-content: space-between;
}

.ltc-runners h4 {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 500;
  color: var(--soft-black);
}

.runners-title button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-grey);
  font-weight: 400;
  line-height: 1;
}

.runners-title button:hover {
  text-decoration: underline;
}

.runners-card {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  /* border: 1px dodgerblue solid; */
  row-gap: var(--mb-0-5);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.runners-card::-webkit-scrollbar {
  display: none;
}

.r-card {
  width: 100%;
  padding: var(--mb-1);
  /* border: 1px tan solid; */
  justify-content: space-between;
  row-gap: var(--mb-0-75);
  background-color: var(--theme-blue);
  border-radius: 8px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.r-card:last-child {
  border: none;
}

.rc {
  flex: 0 0 auto;
  justify-content: flex-start;
  column-gap: var(--mb-0-75);
  cursor: pointer;
  transition: all 0.3s ease;
}

.rc img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px;
}

.rc p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* row-gap: var(--mb-0-25); */
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--soft-black);
  text-align: left;
}

.rc p span {
  font-size: 0.75rem;
  text-align: left;
  color: var(--text-grey);
  opacity: 0.8;
  line-height: 1;
}

.rc-info {
  flex: 0 0 auto;
  justify-content: flex-end;
  column-gap: var(--mb-0-5);
}

.r-card a {
  flex: 0 0 auto;
  border: 1px #ddd solid;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.r-card a i {
  font-size: 0.95rem;
  color: var(--text-grey);
  transition: unset;
}

/* .r-card a:hover {
  border: 1px var(--soft-white) solid;
}

.r-card a:hover i {
  color: var(--soft-black);
} */

.r-card:hover {
  background-color: var(--soft-black);
}

.r-card:hover a:hover {
  border: 1px var(--theme-yellow) solid;
  color: var(--theme-yellow);
}

.r-card:hover a i:hover {
  color: var(--theme-yellow);
}

.r-card:hover .rc p,
.r-card:hover a i {
  color: var(--soft-white);
}

.r-card:hover .rc p span {
  color: var(--light-grey);
}

.r-card:hover a {
  border: 1px var(--light-grey) solid;
}

/* ORDERS CONTAINER */
.orders {
  width: 100%;
  height: 100%;
  /* border: 1px tomato solid; */
  justify-content: flex-start;
  row-gap: var(--mb-2);
}

.o-header {
  width: 100%;
  justify-content: space-between;
  /* border: 1px powderblue solid; */
}

.oh-filter {
  flex: 0 0 auto;
  justify-content: flex-start;
  column-gap: var(--mb-2);
}

.oh-status {
  flex: 0 0 auto;
  justify-content: flex-start;
  /* border: 1px #ddd solid; */
}

.ohs {
  flex: 0 0 auto;
  background-color: var(--theme-blue);
  padding: 0.35rem var(--mb-0-75);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-grey);
  text-transform: lowercase;
  border-right: 1px var(--white) solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ohs:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ohs:last-child {
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ohs:hover {
  background-color: var(--soft-black);
  color: var(--soft-white);
}

.ohs.active {
  background-color: var(--soft-black);
  color: var(--soft-white);
}

.oh-sort {
  flex: 0 0 auto;
  /* border: 1px hotpink solid; */
  justify-content: flex-start;
  column-gap: var(--mb-0-5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.oh-sort span {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--text-grey);
  opacity: 0.8;
}

.ohst {
  flex: 0 0 auto;
  position: relative;
  column-gap: var(--mb-0-25);
  background-color: var(--theme-blue);
  padding: 0.35rem var(--mb-0-75);
  border-radius: 4px;
}

.ohst p {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-grey);
  text-align: center;
}

.ohst i {
  font-size: 1.2rem;
  color: var(--text-grey);
}

.ohst-drop {
  position: absolute;
  top: 40px;
  right: 0;
  width: 100px;
  justify-content: flex-start;
  padding: var(--mb-0-5);
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  animation: fade 0.4s ease-in-out;
  display: none;
}

.ohst-drop p {
  width: 100%;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-grey);
  text-align: left;
  padding: var(--mb-0-25) var(--mb-0-5);
  border-radius: 6px;
  cursor: pointer;
  text-decoration-thickness: all 0.3s ease;
  /* background-color: var(--soft-white); */
}

.ohst-drop p:hover {
  background-color: var(--theme-blue);
}

.oh-options {
  flex: 0 0 auto;
  justify-content: flex-end;
  column-gap: var(--mb-1-5);
  /* border: 1px tomato solid; */
}

.oh-date {
  flex: 0 0 auto;
  justify-content: flex-end;
  column-gap: var(--mb-0-5);
  /* padding-left: var(--mb-2); */
}

.ohd {
  flex: 0 0 auto;
  column-gap: var(--mb-0-25);
  /* border: 1px dodgerblue solid; */
}

.ohd p {
  font-size: 0.8rem;
  color: var(--text-grey);
  font-weight: 500;
  opacity: 0.8;
}

.ohd input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: var(--soft-black);
  margin: 0;
  padding: 0;
  line-height: 1;
  /* cursor: pointer; */
  transition: all 0.3s ease;
}

.oh-search {
  flex: 0 0 auto;
  justify-content: flex-end;
  column-gap: var(--mb-0-5);
}

.oh-search i {
  font-size: 1.2rem;
  color: var(--text-grey);
  margin-top: 0.15rem;
}

.oh-search input {
  background-color: transparent;
  font-size: 0.9rem;
  text-align: left;
  color: var(--text-grey);
  border: none;
  outline: none;
  border-bottom: 1px #ddd solid;
  /* border-radius: 4px; */
}

.oh-search button {
  background-color: var(--theme-blue);
  padding: 0.3rem var(--mb-1);
  font-size: 0.9rem;
  color: var(--text-grey);
  border-radius: 4px;
}

.oh-search button:hover {
  background-color: var(--soft-black);
  color: var(--soft-white);
}

/* ORDERS TABLE */
.orders-table {
  width: 100%;
  height: 100%;
  /* border: 1px hotpink solid; */
  justify-content: flex-start;
  background-color: var(--white);
  overflow: hidden;
  row-gap: var(--mb-0-5);
}

.ot-tab {
  width: 100%;
  justify-content: space-between;

  /* border: 1px #ddd solid; */
}

.ot-tab p {
  flex: 0 0 16.5%;
  padding: 0.3rem var(--mb-0-5);
  padding-left: var(--mb-1);
  text-align: left;
  font-weight: 500;
  color: var(--text-grey);
  font-size: 0.95rem;
  background-color: var(--theme-blue);
}

.ot-tab p:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ot-tab p:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ot-list {
  width: 100%;
  height: 100%;
  row-gap: var(--mb-0-25);
  justify-content: flex-start;
  /* border: 1px tomato solid; */
}

.otl {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.otl p {
  flex: 0 0 16.5%;
  padding: 0.35rem var(--mb-0-5);
  padding-left: var(--mb-1);
  text-align: left;
  color: var(--text-grey);
  font-size: 0.9rem;
}

.otl span {
  flex: 0 0 16.5%;
  padding: var(--mb-0-5);
  font-size: 0.9rem;
}

.otl:hover {
  background-color: var(--theme-blue);
}

.order-status {
  /* text-align: center; */
  /* background-color: var(--light-green); */
  font-weight: 600;
  text-transform: uppercase;
}

/* ---------------------- ========== TRACK QUERY ========== ---------------------- */
.track-query {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  animation: fade 0.3s ease-in-out;
  display: none;
}

.track-query.active {
  display: flex;
}

.tq-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* padding: var(--mb-2); */
  /* background-color: var(--soft-white); */
}

.tq-info {
  position: absolute;
  height: 90%;
  right: var(--mb-1);
  bottom: var(--mb-1);
  /* height: auto; */
  width: 35%;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  padding: var(--mb-2);
  row-gap: var(--mb-1-5);
}

.tqi-title {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px tan solid; */
}

.tqi-title h3 {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* row-gap: var(--mb-0-25); */
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--soft-black);
}

.tqi-title h3 span {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--text-grey);
  opacity: 0.8;
}

.tqi-title h3:last-child {
  align-items: flex-end;
}

#tqi-border {
  width: 100%;
  border-bottom: 2px var(--theme-blue) dashed;
}

.tqi-status {
  width: 100%;
  justify-content: flex-start;
  /* border: 1px hotpink solid; */
  row-gap: 1.1rem;
}

.tqis {
  width: 100%;
  justify-content: flex-start;
  /* align-items: flex-start; */
  column-gap: var(--mb-2);
  position: relative;
}

.tqis h5 {
  flex: 0 0 25%;
  font-size: 0.98rem;
  font-weight: 500;
  color: var(--soft-black);
  text-align: left;
  line-height: 1.2;
}

.tqis p {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-grey);
}

.tqis p span {
  opacity: 0.8;
  font-size: 0.7rem;
}

.tqis img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.tqis-check {
  position: absolute;
  right: 0;
  font-size: 1.6rem;
  color: var(--light-grey);
}

.tqis-check.active {
  color: lightseagreen;
}

.tqi-info {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.tqii {
  align-items: flex-start;
  row-gap: var(--mb-0-5);
}

.tqii:first-child {
  flex: 0 0 35%;
}

.tqii:last-child {
  flex: 0 0 60%;
}

.tqii h5 {
  font-size: 0.98rem;
  text-align: left;
  color: var(--soft-black);
  font-weight: 500;
  line-height: 1.1;
}

.tqii p {
  font-size: 0.85rem;
  text-align: left;
  color: var(--text-grey);
  opacity: 0.9;
  line-height: 1.3;
  font-weight: 400;
}

.tqi-runner {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--mb-1-5);
  /* border: 1px thistle solid; */
  position: relative;
}

.tqi-runner img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.tqir {
  flex: 0 0 auto;
  align-items: flex-start;
  row-gap: 0.1rem;
}

.tqir h5 {
  font-size: 1rem;
  text-align: left;
  color: var(--soft-black);
  font-weight: 500;
  line-height: 1.1;
}

.tqir p {
  font-size: 0.8rem;
  text-align: left;
  color: var(--text-grey);
  opacity: 0.9;
  line-height: 1.3;
  font-weight: 400;
}

.tqi-runner a {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--mb-0-5);
  border: 1px #ddd solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.tqi-runner a i {
  font-size: 1.25rem;
  color: var(--soft-black);
  transition: unset;
}

.tqi-runner a:hover {
  background-color: var(--soft-black);
  border: 1px var(--soft-black) solid;
}

.tqi-runner a:hover i {
  color: var(--white);
}

.tqi-btns {
  width: 100%;
  justify-content: space-between;
}

.tqi-btns button {
  font-size: var(--fs-1);
  background-color: tomato;
  border-radius: 10px;
}

.tqi-btns button:hover {
  background-color: var(--error);
}

.tqi-btns button:last-child {
  background-color: var(--text-grey);
}

.tqi-btns button:last-child:hover {
  background-color: var(--soft-black);
}

/* ==================== [REGISTRATION PAGE] ==================== */
.registration {
  width: 100%;
  height: 100dvh;
  background-color: var(--white);
  /* border: 1px dodgerblue solid; */
}

.r-container {
  width: 100%;
  height: 100%;
  padding: var(--mb-2-5);
  background-color: transparent;
  /* border: 1px hotpink solid; */
}

.r-main {
  flex: 0 0 50%;
  height: 100%;
  /* border: 1px tan solid; */
  padding: var(--mb-4);
  /* justify-content: flex-start; */
  position: relative;
}

.r-logo {
  position: absolute;
  top: var(--mb-1-5);
  left: var(--mb-1-5);
  width: 100px;
}

.r-logo img {
  width: 100%;
  object-fit: cover;
}

.r-form {
  width: 100%;
  padding: 0 var(--mb-5);
  /* border: 1px dodgerblue solid; */
  /* align-items: flex-start; */
  row-gap: var(--mb-1-5);
}

.rf-logo {
  width: 100%;
  /* justify-content: flex-start; */
}

.rf-logo img {
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.rf-title {
  width: 100%;
  /* align-items: flex-start; */
  margin-bottom: var(--mb-0-5);
}

.rf-title h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--soft-black);
  font-weight: 600;
}

.rf-title p {
  font-size: 0.9rem;
  text-align: center;
  color: var(--text-grey);
  opacity: 0.8;
}

.rf-signin {
  width: 100%;
  /* align-items: flex-start; */
  row-gap: var(--mb-0-75);
  /* border: 1px hotpink solid; */
}

.rfs-input {
  width: 100%;
  padding: var(--mb-0-75) var(--mb-1);
  border: 1px #eee solid;
  border-radius: 10px;
  /* column-gap: var(--mb-1); */
  justify-content: space-between;
  transition: all 0.3s ease;
}

.rfs-input:hover,
.rfs-input:active,
.rfs-input:focus {
  border: 1px var(--text-grey) solid;
}

.rfs-input span {
  flex: 0 0 10%;
  /* border: 1px hotpink solid; */
  font-size: 1.3rem;
  /* border-right: 1px #ddd solid; */
}

.rfs-input input {
  flex: 0 0 75%;
  border: 1px limegreen solid;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.95rem;
  color: var(--text-grey);
  text-align: left;
  border-left: 1px #eee solid;
  padding-left: var(--mb-1);
}

.rfsi {
  flex: 0 0 10%;
  /* border: 1px tan solid; */
}

.rfsi-icon {
  font-size: 1.3rem;
  color: var(--success);
  display: none;
}

/* .rfsi-icon.active {
  display: block;
} */

.rfs-btn {
  width: 100%;
  margin-top: var(--mb-1);
}

.rfs-btn button {
  width: 100%;
  /* font-size: var(--fs-1); */
  background-color: var(--soft-black);
  border-radius: 10px;
  padding: var(--mb-1) var(--mb-1-5);
}

.rfs-btn button:hover {
  color: var(--theme-yellow);
}

.r-terms {
  width: 100%;
}

.r-terms p {
  width: 100%;
  font-size: 0.85rem;
  text-align: center;
  color: var(--text-grey);
  opacity: 0.8;
  line-height: 1.2;
}

.r-img {
  flex: 0 0 50%;
  height: 100%;
  background-color: var(--theme-blue);
  border-radius: 60px;
  overflow: hidden;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 1400px) {
  /* ---------------------- ========== TRACK QUERY ========== ---------------------- */
  .track-query {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
    animation: fade 0.3s ease-in-out;
    display: none;
  }

  .tq-info {
    position: absolute;
    height: fit-content;
    right: var(--mb-4);
    top: var(--mb-2);
    bottom: unset;
    /* height: auto; */
    width: 28%;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 30px;
    padding: var(--mb-2);
    row-gap: var(--mb-1-5);
  }
}
